
   INFO  Running migrations.  

  0001_01_01_000000_create_users_table ....  
  Γçé create table "users" ("id" bigserial not null primary key, "name" varchar(255) not null, "email" varchar(255) not null, "whatsapp" varchar(255) null, "role" varchar(255) check ("role" in ('admin', 'penjual', 'pembeli')) not null default 'pembeli', "email_verified_at" timestamp(0) without time zone null, "password" varchar(255) not null, "remember_token" varchar(100) null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)  
  Γçé alter table "users" add constraint "users_email_unique" unique ("email")  
  Γçé create table "password_reset_tokens" ("email" varchar(255) not null, "token" varchar(255) not null, "created_at" timestamp(0) without time zone null)  
  Γçé alter table "password_reset_tokens" add primary key ("email")  
  Γçé create table "sessions" ("id" varchar(255) not null, "user_id" bigint null, "ip_address" varchar(45) null, "user_agent" text null, "payload" text not null, "last_activity" integer not null)  
  Γçé alter table "sessions" add primary key ("id")  
  Γçé create index "sessions_user_id_index" on "sessions" ("user_id")  
  Γçé create index "sessions_last_activity_index" on "sessions" ("last_activity")  
  0001_01_01_000001_create_cache_table ....  
  Γçé create table "cache" ("key" varchar(255) not null, "value" text not null, "expiration" integer not null)  
  Γçé alter table "cache" add primary key ("key")  
  Γçé create table "cache_locks" ("key" varchar(255) not null, "owner" varchar(255) not null, "expiration" integer not null)  
  Γçé alter table "cache_locks" add primary key ("key")  
  0001_01_01_000002_create_jobs_table .....  
  Γçé create table "jobs" ("id" bigserial not null primary key, "queue" varchar(255) not null, "payload" text not null, "attempts" smallint not null, "reserved_at" integer null, "available_at" integer not null, "created_at" integer not null)  
  Γçé create index "jobs_queue_index" on "jobs" ("queue")  
  Γçé create table "job_batches" ("id" varchar(255) not null, "name" varchar(255) not null, "total_jobs" integer not null, "pending_jobs" integer not null, "failed_jobs" integer not null, "failed_job_ids" text not null, "options" text null, "cancelled_at" integer null, "created_at" integer not null, "finished_at" integer null)  
  Γçé alter table "job_batches" add primary key ("id")  
  Γçé create table "failed_jobs" ("id" bigserial not null primary key, "uuid" varchar(255) not null, "connection" text not null, "queue" text not null, "payload" text not null, "exception" text not null, "failed_at" timestamp(0) without time zone not null default CURRENT_TIMESTAMP)  
  Γçé alter table "failed_jobs" add constraint "failed_jobs_uuid_unique" unique ("uuid")  
  2026_01_16_122652_create_umkm_table .....  
  Γçé create table "umkm" ("id" bigserial not null primary key, "user_id" bigint not null, "nama_usaha" varchar(255) not null, "kategori" varchar(255) check ("kategori" in ('kuliner', 'fashion', 'kerajinan', 'pertanian', 'jasa')) not null, "nama_pemilik" varchar(255) not null, "tahun_berdiri" integer null, "deskripsi" text not null, "telepon" varchar(255) not null, "email" varchar(255) null, "alamat" text not null, "status" varchar(255) check ("status" in ('pending', 'approved', 'rejected')) not null default 'pending', "rejection_reason" text null, "approved_at" timestamp(0) without time zone null, "approved_by" bigint null, "rating" decimal(3, 2) not null default '0', "total_reviews" integer not null default '0', "total_products" integer not null default '0', "total_sales" integer not null default '0', "slug" varchar(255) not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null, "deleted_at" timestamp(0) without time zone null)  
  Γçé alter table "umkm" add constraint "umkm_user_id_foreign" foreign key ("user_id") references "users" ("id") on delete cascade  
  Γçé alter table "umkm" add constraint "umkm_approved_by_foreign" foreign key ("approved_by") references "users" ("id") on delete set null  
  Γçé create index "umkm_user_id_index" on "umkm" ("user_id")  
  Γçé create index "umkm_kategori_index" on "umkm" ("kategori")  
  Γçé create index "umkm_status_index" on "umkm" ("status")  
  Γçé create index "umkm_slug_index" on "umkm" ("slug")  
  Γçé alter table "umkm" add constraint "umkm_slug_unique" unique ("slug")  
  2026_01_16_122723_create_umkm_photos_table   
  Γçé create table "umkm_photos" ("id" bigserial not null primary key, "umkm_id" bigint not null, "photo_path" varchar(255) not null, "photo_url" varchar(255) not null, "is_primary" boolean not null default '0', "order" integer not null default '0', "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)  
  Γçé alter table "umkm_photos" add constraint "umkm_photos_umkm_id_foreign" foreign key ("umkm_id") references "umkm" ("id") on delete cascade  
  Γçé create index "umkm_photos_umkm_id_index" on "umkm_photos" ("umkm_id")  
  Γçé create index "umkm_photos_umkm_id_is_primary_index" on "umkm_photos" ("umkm_id", "is_primary")  
  2026_01_17_122704_create_umkm_menus_table   
  Γçé select exists (select 1 from pg_class c, pg_namespace n where n.nspname = current_schema() and c.relname = 'umkm_menus' and c.relkind in ('r', 'p') and n.oid = c.relnamespace)  
  Γçé create table "umkm_menus" ("id" bigserial not null primary key, "umkm_id" bigint not null, "name" varchar(255) not null, "price" decimal(15, 2) not null, "description" text null, "photo_path" varchar(255) null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)  
  Γçé alter table "umkm_menus" add constraint "umkm_menus_umkm_id_foreign" foreign key ("umkm_id") references "umkm" ("id") on delete cascade  
  Γçé select a.attname as name, t.typname as type_name, format_type(a.atttypid, a.atttypmod) as type, (select tc.collcollate from pg_catalog.pg_collation tc where tc.oid = a.attcollation) as collation, not a.attnotnull as nullable, (select pg_get_expr(adbin, adrelid) from pg_attrdef where c.oid = pg_attrdef.adrelid and pg_attrdef.adnum = a.attnum) as default, a.attgenerated as generated, col_description(c.oid, a.attnum) as comment from pg_attribute a, pg_class c, pg_type t, pg_namespace n where c.relname = 'umkm' and n.nspname = current_schema() and a.attnum > 0 and a.attrelid = c.oid and a.atttypid = t.oid and n.oid = c.relnamespace order by a.attnum  
  Γçé select a.attname as name, t.typname as type_name, format_type(a.atttypid, a.atttypmod) as type, (select tc.collcollate from pg_catalog.pg_collation tc where tc.oid = a.attcollation) as collation, not a.attnotnull as nullable, (select pg_get_expr(adbin, adrelid) from pg_attrdef where c.oid = pg_attrdef.adrelid and pg_attrdef.adnum = a.attnum) as default, a.attgenerated as generated, col_description(c.oid, a.attnum) as comment from pg_attribute a, pg_class c, pg_type t, pg_namespace n where c.relname = 'umkm' and n.nspname = current_schema() and a.attnum > 0 and a.attrelid = c.oid and a.atttypid = t.oid and n.oid = c.relnamespace order by a.attnum  
  Γçé select a.attname as name, t.typname as type_name, format_type(a.atttypid, a.atttypmod) as type, (select tc.collcollate from pg_catalog.pg_collation tc where tc.oid = a.attcollation) as collation, not a.attnotnull as nullable, (select pg_get_expr(adbin, adrelid) from pg_attrdef where c.oid = pg_attrdef.adrelid and pg_attrdef.adnum = a.attnum) as default, a.attgenerated as generated, col_description(c.oid, a.attnum) as comment from pg_attribute a, pg_class c, pg_type t, pg_namespace n where c.relname = 'umkm' and n.nspname = current_schema() and a.attnum > 0 and a.attrelid = c.oid and a.atttypid = t.oid and n.oid = c.relnamespace order by a.attnum  
  Γçé alter table "umkm" add column "maps_link" text null  
  Γçé alter table "umkm" add column "jam_buka" time(0) without time zone null  
  Γçé alter table "umkm" add column "jam_tutup" time(0) without time zone null  
  2026_01_18_082429_add_profile_photo_path_to_users_table   
  Γçé alter table "users" add column "profile_photo_path" varchar(2048) null  
  2026_01_20_103000_add_address_fields_to_users_table   
  Γçé select a.attname as name, t.typname as type_name, format_type(a.atttypid, a.atttypmod) as type, (select tc.collcollate from pg_catalog.pg_collation tc where tc.oid = a.attcollation) as collation, not a.attnotnull as nullable, (select pg_get_expr(adbin, adrelid) from pg_attrdef where c.oid = pg_attrdef.adrelid and pg_attrdef.adnum = a.attnum) as default, a.attgenerated as generated, col_description(c.oid, a.attnum) as comment from pg_attribute a, pg_class c, pg_type t, pg_namespace n where c.relname = 'users' and n.nspname = current_schema() and a.attnum > 0 and a.attrelid = c.oid and a.atttypid = t.oid and n.oid = c.relnamespace order by a.attnum  
  Γçé select a.attname as name, t.typname as type_name, format_type(a.atttypid, a.atttypmod) as type, (select tc.collcollate from pg_catalog.pg_collation tc where tc.oid = a.attcollation) as collation, not a.attnotnull as nullable, (select pg_get_expr(adbin, adrelid) from pg_attrdef where c.oid = pg_attrdef.adrelid and pg_attrdef.adnum = a.attnum) as default, a.attgenerated as generated, col_description(c.oid, a.attnum) as comment from pg_attribute a, pg_class c, pg_type t, pg_namespace n where c.relname = 'users' and n.nspname = current_schema() and a.attnum > 0 and a.attrelid = c.oid and a.atttypid = t.oid and n.oid = c.relnamespace order by a.attnum  
  Γçé alter table "users" add column "address" text null  
  Γçé alter table "users" add column "map_link" text null  
  2026_01_20_195710_create_reviews_table ..  
  Γçé create table "reviews" ("id" bigserial not null primary key, "user_id" bigint not null, "umkm_id" bigint not null, "rating" integer not null, "comment" text null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)  
  Γçé alter table "reviews" add constraint "reviews_user_id_foreign" foreign key ("user_id") references "users" ("id") on delete cascade  
  Γçé alter table "reviews" add constraint "reviews_umkm_id_foreign" foreign key ("umkm_id") references "umkm" ("id") on delete cascade  
  2026_01_20_234309_create_umkm_visits_table   
  Γçé create table "umkm_visits" ("id" bigserial not null primary key, "umkm_id" bigint not null, "ip_address" varchar(255) null, "user_agent" varchar(255) null, "user_id" bigint null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)  
  Γçé alter table "umkm_visits" add constraint "umkm_visits_umkm_id_foreign" foreign key ("umkm_id") references "umkm" ("id") on delete cascade  
  Γçé alter table "umkm_visits" add constraint "umkm_visits_user_id_foreign" foreign key ("user_id") references "users" ("id") on delete set null  
  2026_01_21_072451_add_is_recommended_to_umkm_menus_table   
  Γçé alter table "umkm_menus" add column "is_recommended" boolean not null default '0'  
  2026_01_22_000001_create_favorites_table   
  Γçé create table "favorites" ("id" bigserial not null primary key, "user_id" bigint not null, "umkm_id" bigint not null, "created_at" timestamp(0) without time zone null, "updated_at" timestamp(0) without time zone null)  
  Γçé alter table "favorites" add constraint "favorites_user_id_foreign" foreign key ("user_id") references "users" ("id") on delete cascade  
  Γçé alter table "favorites" add constraint "favorites_umkm_id_foreign" foreign key ("umkm_id") references "umkm" ("id") on delete cascade  
  Γçé alter table "favorites" add constraint "favorites_user_id_umkm_id_unique" unique ("user_id", "umkm_id")  

